<!DOCTYPE html>
<html>
<head>
<title>SnapIt-HardWare Connection</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <style type="text/css">
        html{
            background-color: #ccdec2;
        }
        .login{
            background-color: #ccdec2;
        }
    </style>
</head>
<body>
<div  class="login">
<h1>SnapIt-Hw</h1>

    <h3>Login</h3>

<form method="post" action="/login">
    <p>
        <label>Username:</label>
        <input type="text" name="username" >
    </p>
    <p>
        <label>Password:</label>
        <input type="password" name="password">
    </p>
    <p>
        <input id="button" type="submit" value="Login">
    </p>
</form>
</div>
</body>
</html>