<!DOCTYPE html>
<html>
<head>
<title>SnapIt-HardWare Connection</title>
</head>
<body>
<center>
<h1>SnapIt-Hw</h1>
</center>
    <h3>Login</h3>

<form method="post" action="/login">
    <p>
        <label>Username:</label>
        <input type="text" name="username">
    </p>
    <p>
        <label>Password:</label>
        <input type="text" name="password">
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
</form>
</body>
</html>