<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
</head>
<body>
<div class="header_comp">
    <% include templates/header.ejs %>
</div>
<div class="wait_cns">
    <h1><%= title %></h1>
    <img class="center" src="/gif/loading_spinner.gif" />
</div>
    <script type="text/javascript">
        function Redirect() {
            window.location="/camera/p";
        }
        setTimeout('Redirect()', <%=(time)*1000%>)
    </script>
</h2>
</body>
</html>
