<button><a href="/home">Home</a></button>
<p>   </p>
<button><a href="/camera">Camera</a></button>
<button><a href="/camera/p">No Camera</a></button>
<button><a href="/stepper">Stepper</a></button>
<p>   </p>
<button><a href="/logout">Logout</a></button>