<style>
.place{
    text-align: center;
}
</style>

<a href="/logout" style="float: right;">Logout</a>
<div class="place">
<a href="/home"><input type="button" id="home" value="Home" style="margin-left: 35px"/></a>
<p>   </p>
<a href="/camera"><input type="button" value="Camera"/></a>
<a href="/camera/p"><input type="button" value="No Camera"/></a>
<a href="/cns"><input type="button" value="Click And Shoot"/></a>
<p>   </p>
</div>