<a href="/logout"><input type="button" value="Logout" style="float: right;" /></a>
<div style="clear: both;"></div>
<a href="/home"><input type="button" value="Home" /></a>
<p>   </p>
<a href="/camera"><input type="button" value="Camera" /></a>
<a href="/camera/p"><input type="button" value="No Camera" /></a>
<a href="/stepper"><input type="button" value="Stepper" /></a>
<p>   </p>
