
body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #c2dedd;
}

p {
  color: #000000;
}
div.imy {
  position: absolute;
  left:30%
}


div.imy img{
  width: 50%;
  max-height: 50%;
  border: solid;
  border-radius: 10px;
}
div.imy a{
  position: static;
  margin-left: 20%}

div.container {
  margin-top: auto;
  text-align: center;
}
div.container h3{
  position: relative;
  margin-right: 200px;
}

div.container input#button{
  position: relative;
}